<div class="container-fluid">

  <header class="row header-login" align="center">
    <h1>Gestão de Eventos</h1>
  </header>

  <div class="row login centered">
    <div role="main">
      <div class="login-form">
        <form role="form">
          <div class="form-group">
            <label>Login:</label>
            <input class="form-control" type="text" name="login">
          </div>
          <div class="form-group">
            <label>Senha:</label>
            <input class="form-control" type="password" name="senha">
          </div>
          <div class="form-group">
            <input class="btn btn-success btn-block" type="submit" value="Entrar">
          </div>
        </form>
      </div>
    </div>
  </div>

  <footer class="row footer" align="center">
    <p>Gestão de Eventos - 2015 / My Project Solutions</p>
  </footer>

</div>
